/*  */
html {
  font-family: Arial, sans-serif;
}

body {
}

li .navButton {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.navbar li {
  display: inline;
  list-style: none;
  font-size: 1.45vw;
  font-weight: 400;
  padding: 0.4em;
  border-radius: 0.3em;
}

.navbar li:hover {
  background-color: #8f746c;
}

.navbar {
  border: 1px solid black;
  width: 97vw;
  height: 6.77vw;
  background-color: black;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.topBanner {
  width: 99vw;
  margin-top: 0px;
  margin-bottom: 2.7vw;
}

#featuredBikeImg {
  display: block;
  height: 25vw;
}

#featuredBikeImg:hover {
  opacity: 0.6;
}

.featuredBikeDescr {
  text-transform: capitalize;
  color: #8f746c;
  font-weight: 700;
  display: block;
  font-size: 1em;
  margin-top: 1.1em;
  margin-bottom: 0em;
}

#featuredBikePrice {
  font-size: 3.65em;
  margin: 0em 0em;
  color: #cec151;
}

#addToBasket {
  border-color: #8f746c;
  background-color: #fff;
  color: #8f746c;
  text-transform: uppercase;
  font-size: 0.75em;
  padding: 0.85em 2em 0.85em 2em;
}

#addToBasket:hover {
  border-color: #8f746c;
  background-color: #8f746c;
  color: white;
}

.shoppingBasket {
  height: 4.7em;
}

.rating {
  display: block;
  padding: 0px 0px;
  margin-bottom: 0px;
}

.forSaleRating {
}

#shop {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  margin-top: 2em;
  width: 99vw;
}

h2 {
  letter-spacing: 0.2em;
}

h4 {
  font-weight: 400;
}

#prodDescr {
  text-transform: uppercase;
  word-spacing: 0.4em;
  margin: 0.5em;
  color: #eca38d;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
